// display: flex;
// flex-direction: column;
// align-items: center;
.middle {
    align-items: center;
    margin-top: 42px;
}

.about-us-principle {
    background-color: #F6FBFF;

    .row {
        .about-card {
            @include flex-column;
            background-color: #F6FBFF;
            border: none;
            height: 100% !important;
            position: relative;
            padding: 0px 50px 0px 30px;
            border-radius: 0 !important;

            &:after {
                content: "";
                border: 1px solid #9FD4FF;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
            }

            .card-body {
                .card-title {
                    color: #0069C7;
                    @include Roboto;
                    font-size: 20px;
                    font-weight: 600;
                    margin: 0px 0 17px;
                }

                .card-description {
                    color: #414141;
                    text-align: center;
                    @include Roboto;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 23px;
                }
            }

        }

        .col-lg-4 {
            &:last-child {
                .about-card {
                    &:after {
                        display: none;
                    }
                }

            }
        }
    }

}

.about-image {
    figure {

        &:before,
        &:after {
            display: none !important;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.section-description {
    .ceo-name {
        color: #414141;
        @include Roboto;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .ceo-about {
        color: #0069C7;
        text-align: justify;
        @include Roboto;
        font-size: 16px;
        font-style: italic;
        font-weight: 500;
        line-height: 22px;
    }
}

.our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .team-card {
        figure {

            &:before,
            &:after {
                display: none !important;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
        }

    }
}